/* Global Var */
:root{
  --main-color: #316a5d;
  --second-color-hover: #316a5d;
  --main-color-hover: #163630;
  --price-color: #FF3c20;
  --main-item-color: #6b7977;
  --color-footer: #252525;
  --star-color: #66666680;
  --form-control-color: #316a5d;
}

/* Global Var */
/* Global */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
}
.container{
  padding: 0 15px;
}
html{
  scroll-behavior: smooth;
}

.header{
  background-color: #FFF;
  padding: 20px 0;
  border: 1px solid var(--main-item-color);
}
.nav-navbar,
.navbar{
  display: flex;
  align-items: center;
}

.nav-navbar{
  justify-content: space-between;
  width: 100%;
}

.logo{
  margin-right: 70px;
}

.navbar-button-list{
  border: none;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.nav-links{
  display: flex;
  gap: 25px;
  padding: 0 20px;
}

.nav-links > li > a{
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.nav-navbar .right b,
.nav-links > li span{
  position: relative;
  top: 12px;
  margin-left: 5px;
  border: 5px solid transparent;
  border-top-color: black;
}

.nav-links > li {
  position: relative;
  height: 100%;
  padding: 10px 0;
}

.nav-links > li::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: var(--second-color-hover);
  transition: 0.3s ease;
}
.nav-links > li:hover::after{
  width: 100%;
}
.icon-hot::after{
  content: url(../images/hot-icon.png);
  position: absolute;
  top: -6px;
  right: 0;
}
.icon-new::after{
  content: url(../images/new-icon.png);
  position: absolute;
  top: -6px;
  right: 0;
}
.nav-navbar .right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  font-weight: 300;
}
.nav-navbar .right p{
  margin: 0 12px;
}
.nav-navbar .right a{
  color: black;
  font-size: 14px;
}

/* New */
.nav-navbar .right > div{
  position: relative;
}

.nav-navbar .right .submenu-lang,
.nav-navbar .right .submenu-money{
  overflow: hidden;
  height: 0;
  position: absolute;
  right: 0;
  background: #FFF;
  padding: 0 20px;
  width: 150px;
  line-height: 2;
  transform: translateY(60px);
  transition: 0.3s ease-in-out;
}
.nav-navbar .right .money:hover .submenu-money{
  padding: 20px;
  height: 135px;
  transform: translateY(20px);
  box-shadow: 1px 1px 5px 5px rgba(100, 100, 111, 0.2);
}
.nav-navbar .right .lang:hover .submenu-lang{
  padding: 20px;
  height: 100px;
  transform: translateY(20px);
  box-shadow: 1px 1px 5px 5px rgba(100, 100, 111, 0.2);
}
.nav-navbar .right .search{
  position: relative;
}

.nav-navbar .right .search .search-box{
  position: absolute;
  right: 0;
  top: 50px;
  height: 40px;
  width: 250px;
  background-color: #FFF;
  border-radius: 40px;
  padding: 10px;
  border: 1px solid #EEE;
}



.nav-navbar .right .search .search-box,
.nav-navbar .right .search a .fa-x{
  display: none;
}
.nav-navbar .right .search a .fa-magnifying-glass,
.nav-navbar .right .search .search-box.active,
.nav-navbar .right .search a .fa-x.active{
  display: inline;
}
.nav-navbar .right .search a .fa-magnifying-glass.hidden{
  display: none;
}

.nav-navbar .right .search .search-box input{
  height: 100%;
  width: 85%;
  padding: 5px;
  border-radius: 40px;
  border: none;
}
.nav-navbar .right .search .search-box input:focus{
  outline: none;
}
.nav-navbar .right .search .search-box span{
  position: relative;
}
.nav-navbar .right .search .search-box span i{
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  cursor: pointer;
}
@media(max-width:776px){
  .nav-navbar .right .submenu-money{
      left: 0;
  }
}
/* New */
.nav-navbar .right .icon-bag{
  position: relative;
  width: 40px;
  text-align: center;
  line-height: 40px;
}
.nav-navbar .right .icon-bag i{
  font-size: 20px;
}
.nav-navbar .right .icon-bag .conter-items{
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 15px;
  background-color: white;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}
@media(max-width:1120px){
  .header{
      position: relative;
  }
  .hidden-lg{
      display: none;
  }
}
@media(max-width:1050px){
  .nav-links{
      display: none;
  }
  .navbar .nav-navbar .right{
      margin-left: auto;
  }
  .navbar-button-list{
      display: block;
  }
}
@media(max-width:776px){
  .header .logo img{
      width: 110px;
  }
  .navbar-button-list{
      font-size: 20px;
  }
}

/* End Header */

/* Global */

.nav-links .collections,
.nav-links .shop,
.nav-links .bolg,
.nav-links .pages,
.nav-links .home{
  position: relative;
}


.nav-links .submenu{
  position: absolute;
  top: 50px;
  background-color: #fff;
  font-size: 15px;
  padding: 0 30px;
  display: grid;
  z-index: 999;
  overflow: hidden;
  height: 0px;
  transition: 0.3s ease;
}

.nav-links .collections:hover .submenu,
.nav-links .shop:hover .submenu,
.nav-links .bolg:hover .submenu,
.nav-links .pages:hover .submenu,
.nav-links .home:hover .submenu{
  display: grid;
  padding: 30px;
  box-shadow: 1px 1px 5px 5px rgba(100, 100, 111, 0.2);
}
.nav-links .submenu p,
.nav-links .submenu a{
  color: var(--main-item-color);
}
.nav-links .submenu a:hover p,
.nav-links .submenu a:hover{
  color: var(--main-color-hover);
}
/* Global */

/* Start Submenu Home */
.nav-links .home .submenu{
  width: 700px;
  grid-template-columns: repeat(4 ,1fr);
  grid-template-rows: repeat(10 ,1fr);
  gap: 10px 10px;
}
.nav-links .home:hover .submenu{
  height: 330px;
}
/* End Submenu Home */

/* strat Submenu Pages */
.nav-links .pages .submenu{
  left: -60px;
  width: 750px;
  grid-template-columns: repeat(3 ,1fr);
  gap: 30px;
}
.nav-links .pages:hover .submenu{
  height: 400px;
}
.nav-links .submenu h4 a{
  color: #000;
  text-transform: uppercase;
}

.nav-links .submenu hr{
  margin: 5px 0;
  color: var(--main-item-color);
}
.nav-links .submenu ul li{
  padding: 5px 0;
}
.nav-links .submenu .other-pages div{
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
}
/* End Submenu Pages */

/* start Submenu bolg */
.nav-links .bolg .submenu{
  width: 580px;
  left: -50px;
}
.nav-links .bolg:hover .submenu{
  height: 250px;
}
.nav-links .bolg .submenu img{
  width: 60px;
}
.nav-links .bolg .submenu p{
  padding-top: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.nav-links .bolg .submenu div{
  text-align: center;
}

.nav-links .bolg .submenu .row{
  display: grid;
  grid-template-columns: repeat(6 ,1fr);
  gap: 15px;
}

/* End Submenu blog */

/* Start Submenu shop */
.nav-links .shop .submenu{
  width: 650px;
  left: -150px;
}
.nav-links .shop:hover .submenu{
  height: 380px;
}
.nav-links .submenu .row{
  display: grid;
  grid-template-columns: repeat(4 ,1fr);
  gap: 15px;
}
.nav-links .shop .submenu .row img{
  width: 280px;
}
.nav-links .shop .submenu .left{
  grid-column: 1/3;
}
.nav-links .shop .submenu .right{
  grid-column: 3/5;
}
/* End Submenu shop */

/* start Submenu collections */
.nav-links .collections .submenu{
  width: 650px;
  left: -250px;
}
.nav-links .collections:hover .submenu{
  height: 260px;
}
/* End Submenu collections */



/* start hidden List */
.hidden-list{
  position: fixed;
  top: 0;
  left: -280px;
  bottom: 0;
  background-color: #333333;
  width: 280px;
  padding: 20px;
  transition: 0.3s ease;
  z-index: 1100;
}
.hidden-list.active{
  left: 0;
  overflow: scroll;
}
.hidden-list::-webkit-scrollbar{
  width: 5px;
  height: 100%;
}
.hidden-list::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}
.hidden-list .top-list{
  display: flex;
  justify-content: end;
  padding-bottom: 10px;
}
.hidden-list .top-list i{
  font-size: 20px;
  color: white;
}
.hidden-list .body-list .list-item{
  height: 30px;
  border-top: 1px solid #888888;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
.hidden-list .body-list .list-item > a{
  color: #FFF;
}
.hidden-list .body-list .list-item:hover > a{
  color: var(--second-color-hover);
}
.hidden-list .body-list .list-item span{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30px;
  background-color: #666666;
  text-align: center;
  color: #FFF;
  cursor: pointer;
}
.hidden-list .body-list .list-item .submenu{
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
  padding: 0 20px;
  overflow: hidden;
  height: 0;
  transition: all 0.7s ease;
}
.hidden-list .body-list .list-item .submenu h4 a{
  color: #000;
  font-size: 16px;
}
.hidden-list .body-list .list-item .submenu ul:not(:last-child){
  margin-bottom: 15px;
}
.hidden-list .body-list .list-item .submenu a{
  color: var(--main-item-color);
}
.hidden-list .body-list .list-item .submenu a:hover{
  color: var(--main-color-hover);
}
.fa-minus{
  display: none ;
}
#home.active .fa-plus,
#pages.active .fa-plus,
#bolg.active .fa-plus,
#shop.active .fa-plus,
#collections.active .fa-plus{
  display: none;
}
#home.active .fa-minus,
#pages.active .fa-minus,
#bolg.active .fa-minus,
#shop.active .fa-minus,
#collections.active .fa-minus{
  display: inline;
}
#home.active .submenu{
  height: 1200px;
  padding: 20px;
  z-index: 5;
}
#collections .submenu,
#shop .submenu,
#pages .submenu{
  text-transform: capitalize;
}
#collectons .submenu h4,
#shop .submenu h4,
#pages .submenu h4{
  text-transform: uppercase;
}
#pages.active .submenu{
  height: 1300px;
  padding: 20px;
  z-index: 4;
}
#bolg .submenu{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#bolg .submenu .row{
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  grid-template-rows: repeat(3 ,1fr);
}
#bolg .submenu .row img{
  width: 80px;
}
#bolg .submenu .row div{
  text-align: center;
}
#bolg.active .submenu{
  height: 750px;
  padding: 20px;
  z-index: 3;
}

#shop.active .submenu{
  height: 950px;
  padding: 20px;
  z-index: 2;
}
#collections.active .submenu{
  height: 950px;
  padding: 20px;
  z-index: 1;
}
/* end hidden List */
/* Start Path */
.path{
  padding: 20px;
}
.path .container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: var(--main-item-color);
  font-size: 14px;
}
.path a{
  color: var(--main-item-color);
}
.path a:hover,
.path .icon:hover{
  color: var(--second-color-hover);
}
/* End Path */

/* ------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------- */

/************************************************ start bassam section *******************************************************/
.containerb {
  width: 98%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
/************************* start head welcome *********************/
.containerb .left {
  width: 75%;
  height: auto;
}
.contentb {
  width: 100%;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-container h1 {
  font-size: 22px;
  margin: 0;
  padding-right: 20px;
  font-weight: 300;
  white-space: nowrap; /* Prevents the text from breaking into multiple lines */
}
@media (max-width:1000px){
  .containerb {
    display: block;
  }
  .containerb .left{
    width: 100%;

  }
}


.line {
  flex-grow: 1;
  height: 3.5px;
  background-color: #F7F7F7;
  border: 1px solid #E9E9E9;
}


/* start section image and text*/

.image-section {
  margin-top: 55px;
  margin-bottom: 55px;
  display: flex;
  align-items: flex-start;
  flex: 1;
}
.image-section img {
  max-width: 100%;
}
.text-section {
  color: #666866;
  font-size: 14px;
  margin-left: 26px;
  line-height: 18px;
}
.text-section p {
  margin-block-start: 0;
}
@media (max-width:750px){
  
  .image-section {
    margin-top: 55px;
    margin-bottom: 55px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .text-section {
    margin-left:0px;
  }
  .image-section img {
    max-width: 100%;    
  }
}
/********** end section image and text ***********/
/************************* end head welcome *********************/

/************************ Start Why choose me ******************/
.containerb .right {
  width: 22%;
  margin-left: auto;
}
.why-choose-us {
  width: 100%;
}
.why-choose-us .header_b h2 {
  font-size: 22px;
  padding-right: 20px;
  font-weight: 300;
  white-space: nowrap;
}
.why-choose-us .header_b{
  display: flex;
  align-items: center;
}
.why-choose-us .features-list_b {
  margin-top: 50px;
  list-style-type: none;
}
.why-choose-us a {
  text-decoration: none;
  color: #666866;
  line-height: 2.5;
  font-size: 14px;
}
.why-choose-us ul li:before {
  content: "✔";
  font-weight: 900;
  margin-right: 12px;
  color: #9F9F9F;
}

@media (max-width:1000px){
.containerb .right{
  width: 100%;
}
.why-choose-us .header_b h2 {
  padding-left:0px;

}
.why-choose-us .features-list_b {
  margin-top: 13px;
}
}
/************************ end Why choose me ******************/


/************************ start our memeber section **********/
.our-member-section {
  width: 100%;
  text-align: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.our-member-section .header{
  border: none; /* to delete border that mohamed Ayman make it */
}
.header h2 {
  padding: 0 15px;
  font-size: 1.5em;
  font-weight:300;
  border: none;
}
.description {
  width: 57%;
  font-size: 13px;
  color: #909090;
  line-height: 1.6;
  margin: 0 auto;
}
/************************ end our memeber section **********/


/************************ start team Section ***************/
.team-section {
  width: 50%;
}

.team-member {

  width: 98%;
  border: 1px solid #e0e0e0;
  margin: 35px 0;
  display: flex;
  justify-items: flex-start;
}

.team-member img {
  max-width: 100%;
  padding: 20px 20px 70px;
  /* background-color: #000; */
}

.member-info {
  padding: 20px;
  padding-left: 0px;
}

.member-info h3 {
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 500;
  color: #333;
  line-height: 48px;
}

.member-info h4 {
  margin: 10px 0;
  font-size: 13px;
  font-weight: 400;
  color: #666666;
}

.member-info p {
  font-size: 13px;
  color: #66686688;
  line-height:30px ;
}
.team-right {
  margin-left: auto;
}
@media (max-width:1003px){
  .team-section {
    width: 100%;
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

  .team-member {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
  }
}
/************************ end team Section ***************/

/************************ start Happy Customer Says *****************/
.testimonial-box {
  height: 180px;
  margin-bottom: 150px;
  border: 1px solid #ddd;
  border-top: none; /* Remove the original top border */
  padding: 20px;
  position: relative;
  /* margin-top: 40px; Adjust margin for the space of the new border */
  /* padding-top: 20px; Adjust padding for the space of the new border */
background: linear-gradient(
    to right,
    #ddd 0.5%,
    #fff 0.5%,
    #fff 15.5%,
    #ddd 15.5%,
    #ddd 93%,
    #fff 93%,
    #fff 99%,
    #ddd 99%,
    #ddd 100%
  );
  background-size: auto 1px;  /* Height of the top border*/
  background-position: top;
  background-repeat: no-repeat;
  /* background-color: #000; */
  
}


.testimonial-box .header {
  border: none;
  display: flex;
  justify-content:space-between ;/*distance between happy header and plus mins icon*/
}
.testimonial-box .header h2 {
  font-size: 20px;
  position: relative;
  top: -56px;
  left:-15px;
  background-color: rgb(255, 255, 255);

}

.testimonial-box .icons {
  color: #e4e4e4;
  font-size: 28px;
  font-weight: 800;
  display: flex;
  text-align: center;
  position: relative;
  top: -56px;
  padding-right: 7px;
  background-color: white;
}

.testimonial-box .icon {
  width: 30px;
  height: 30px;
  margin-left: 6px;
  border: 4px solid #e4e4e4;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.testimonial-box p {
  color: #969696;
  line-height: 1.9;
  margin: 10px 0;
  position: relative;
  top:-66px;
}

.author {
  font-weight: bold;
  font-size: 15px;
}

.name {
  color: teal;
  font-size: 20px;
}
/************************ start Happy Customer Says *****************/

/****************************************** end bassam section ****************************************************/
/* Start Footer */
.top-footer{
  background-color: var(--main-color);
  padding: 30px 0;
}

.top-footer .container{
  display:flex;
  justify-content: center;
  align-items: center;
}
.top-footer .left{
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.top-footer .right{
  position: relative;
  width: 420px;
  height: 45px;
  padding-left: 20px;
  margin-left: 80px;
  background-color: #fff;
}
.top-footer .right input[type="email"]{
  border: none;
  width: calc(100% - 28.5%);
  height: 45px;
}
.top-footer .right input[type="email"]:focus{
  border: none;
  outline: none;
}
.top-footer .right input[type="submit"]{
  position: absolute;
  top:0 ;
  right: 0;
  bottom: 0;
  border: none;
  height: 100%;
  width: 28.5%;
  background-color: #000;
  color: #fff;
}

.footer{
  background-color: var(--color-footer);
}
.footer .footer-body{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 470px;
  margin: 0 auto;
  padding: 30px 0;
  color: #D1D1D1
}
.footer .footer-body .footer-caption{
  text-align: center;
  font-size: 14px;
  line-height: 2;
}
.footer .footer-body .footer-icon{
  display: flex;
  font-size: 16px;
  gap: 40px;
}
.footer .footer-body .footer-icon a{
  color: #D1D1D1;
}
.footer .footer-body .footer-icon a:hover{
  color: #FFF;
}

.footer .footer-links ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 24px 0;
  gap: 48px;
  border-top: 1px solid var(--main-item-color);
}
.footer .footer-links ul li a{
  color: #D1D1D1;
}
.footer .footer-links ul li a:hover{
  color: var(--second-color-hover);
}

.footer .bottom-footer{
  text-align: center;
  font-size: 14px;
  color: #D1D1D1;
}
.footer .bottom-footer p{
  padding: 30px 0;
}
.footer .bottom-footer p a{
  color: var(--main-color);
}
@media(max-width: 768px) {
  .top-footer .left{
      display: none;
  }

}

/* End Footer */

/* Start Fixed menu */
.fixed-menu{
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1000;
}
.fixed-menu .icon{
  position: relative;
  padding: 10px;
  background-color: var(--main-color);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #FFF;
  cursor: pointer;
}
.fixed-menu .icon:hover{
  background-color: var(--main-color-hover);
}
.fixed-menu .icon span{
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 38px;
  transition: 0.2s ease;
  background-color: var(--main-color);
  padding: 10px 0;
  width: 0;
  text-transform: capitalize;
  text-wrap: nowrap;
}

.fixed-menu .icon:hover span{
  padding: 10px;
  width: 100px;
}
.fixed-menu .cart .icon:hover span{
  padding: 10px;
  width: 60px;
}
.fixed-menu .recent-view .icon:hover span{
  padding: 10px;
  width: 120px;
}
.fixed-menu .go-top .icon a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media(max-width: 1150px) {
  .fixed-menu{
      display: none;
  }
} 

/* End Fixed menu */

@media(max-width: 600px) {
  .container{
      width: 100%;
      margin: 0 auto;
  }
  .navbar{
      display: block;
  }
  .header .logo img{
      display: block;
      margin: 0 auto;
  }
  .footer .footer-body{
      width: 80%;
  }
  .top-footer .right{
      margin: 0;
      width: 80%;
  }
}


@media(min-width: 600px) {
  .container{
      width: 95%;
      margin: 0 auto;
  }
}


@media(min-width: 768px) {
  .container{
      width: 90%;
      margin: 0 auto;
  }
}


@media(min-width: 992px) {
  .container{
      width: 95%;
      margin: 0 auto;
  }
}


@media(min-width: 1200px) {
  .container{
      width: 100%;
  }
} 